
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f2f2f2;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    img {
      max-width: 100%;
      height: auto;
    }
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f2f2f2;
    }
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    img {
      max-width: 100%;
      height: auto;
    }
    form {
      margin-top: 20px;
    }
    label {
      display: block;
      margin-bottom: 10px;
    }
    input[type="text"],
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 20px;
    }
    .container {
      width: 100%;
      text-align: center;
    }
    
    .header {
      color: red; /* Đổi màu chữ thành đỏ */
    }

  .container {
      text-align: center;
      margin-top: 50px;
  }
  .title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      color: #b80000;
  }
  .subtitle {
      font-size: 18px;
      margin-bottom: 20px;
      text-align: center;
  }
  .btn-order {
      background-color: #d90000;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      text-transform: uppercase;
      margin-top: 20px;
      text-align: center;
      margin-left: 45%;
     
  }
  .btn-order:hover {
      background-color: #b80000;
  }
      
